<header>
  <div class="container-fluid global-header">
    <span class="sr-only">
      <h1>ArchivesSpace Staff Interface</h1>
    </span>
    <nav class="navbar">
      <div class="container-fluid sm-mxn15px">
        <div class="navbar-collapse nav-global-collapse navbar-default d-flex justify-content-end">
          <ul class="nav navbar-nav navbar-login ml-auto">
            <!-- PLUGIN BEGIN -->
            <li><a href="/staff/auth/developer">Sign In Developer</a></li>
            <!-- PLUGIN END -->
            <li class="xs-py15px">
              <a target="_blank" title="" class="context-help has-tooltip px-4 initialised" 
                 data-placement="bottom" data-toggle="tooltip" data-boundary="viewport" 
                 href="https://archivesspace.atlassian.net/wiki/spaces/ArchivesSpaceUserManual/overview" 
                 data-original-title="ArchivesSpace Help Center">
                <span class="context-help-icon glyphicon glyphicon-question-sign"></span>
                <span class="sr-only"> Visit the ArchivesSpace Help Center</span>
              </a>
            </li>
          </ul>
        </div><!-- nav-collapse -->
      </div>
    </nav>
  </div>
</header>

<!-- PLUGIN BEGIN -->
<% if session[:user] %>
  <% AppConfig[:oauth_definitions].find_all{ |od| od[:slo_link] }.each do |oauth_definition| %>
    <script type="text/javascript">
      (function() {
        var logout = $('a[href~="<%= AppConfig[:frontend_proxy_prefix] %>logout"]').parent().parent();
        logout.append('<li><%= link_to("#{oauth_definition[:provider].upcase} Logout", "#{AppConfig[:frontend_proxy_prefix]}auth/#{oauth_definition[:provider]}_logout") %></li>');
      })();
    </script>
  <% end %>
<% end %>
<!-- PLUGIN END -->
